[submodule "AutoDock"]
	path = AutoDock
	url = ../autodock
[submodule "Chemistry"]
	path = Chemistry
	url = ../chemistry
[submodule "CProgramming"]
	path = CProgramming
	url = ../cprog
[submodule "Fortran"]
	path = Fortran
	url = ../fortran
