[submodule "AutoDock"]
	path = AutoDock
	url = ../autodock
[submodule "Chemistry"]
	path = Chemistry
	url = ../chemistry
[submodule "CProgramming"]
	path = CProgramming
	url = ../cprog
[submodule "Fortran"]
	path = Fortran
	url = ../fortran
[submodule "Globus"]
	path = Globus
	url = ../globus
[submodule "LaTeX"]
	path = LaTeX
	url = ../latex
[submodule "Linux"]
	path = Linux
	url = ../linux
[submodule "Octave"]
	path = Octave
	url = ../octave
[submodule "OpenACC"]
	path = OpenACC
	url = ../openacc
[submodule "OpenMP"]
	path = OpenMP
	url = ../openmp
[submodule "Shell"]
	path = Shell
	url = ../shell
